.todoitems{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
}
.todoitems-container{
    display: flex;
}
.todoitems-text{
    padding-left: 16px;
}
.todoitems-cross-icon{
    cursor: pointer;
    padding-right: 25px;
}
.line-through{
    text-decoration: line-through solid #ADADAD 3px;  
}